// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Mobile
@import 'mobile';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h5.title1{
    background: rgb(91, 86, 19,0.7);
        padding: 20px;
    font-size: 5rem;

}
 p.subtitile1{
    font-size: 3rem;
    background: rgb(91, 86, 19,0.7);
    padding: 20px;
}
h5.title2{
    background: rgb(91, 86, 19,0.7);
    padding: 20px;
    font-size: 5rem;

}
h5.title3{
    background: rgb(91, 86, 19,0.7);
    padding: 20px;
    font-size: 5rem;

}
.bg-red{
    background-color: #003049 ;

}
.whyus{
    background-color: rgb(142, 202, 230);


}
.fas{
   color: #023047;
}
.fas:hover{
    transition: color 0.3s ease-in-out;
   color: white;
}

.partners{
    background-color: rgb(234, 226, 183);
}

.delivery{
    background-color: rgb(33, 158, 188);
    color: white;
}

.contact{
    background-color: rgb(251, 133, 0);
    color: white;
}
//Mobile

.lineParent{
    height: 100%;
    width:100%;
    align-items: center;
    position:absolute;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
}

.stepTab{
    width: 20%;
    text-align: center;
    z-index: 2;

}
.square-tab {
    width: 50px;
    height: 50px;
    /*line-height: 45px;*/
    border-radius: 10px;
    background: #fff;
    border: 2px solid #e0e0e0;
    font-size: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator{
    background-color: rgb(2, 48, 71);
    color: white;
}
