

@media only screen and (max-width: 600px) {
    #carouselExampleCaptions {
        margin-top: 3rem;


    }}




@media only screen and (max-width: 600px) {
    h5.title1 {
        font-size: 22px !important;
    }}

@media only screen and (max-width: 600px) {
    h5.title2 {
        font-size: 22px !important;
    }}
@media only screen and (max-width: 600px) {
    h5.title3 {
        font-size: 20px !important;
    }}

//@media only screen and (max-width: 600px) {
//     {
//        font-size: 10px !important;
//    }}
